@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Lobster&family=Patua+One&family=Poppins:wght@400;500;600&display=swap');

h1{
   font-family: 'Comfortaa', cursive;
   /* font-family: 'Lobster', cursive;
   font-family: 'Patua One', cursive; */
   /* font-family: 'Poppins', sans-serif; */
   text-align: center;
}
